<!DOCTYPE html>

<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131905455-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131905455-1');
</script>



<%- include('meta') %>

</head>

<body>
	<div class="container">
		<header>
		<!-- <div class="title"> -->
			<h1><%=title%></h1>
		<!-- </div> -->
		<h3 class="menu">
			<div id="OPEN_ABOUT">about</div>
		</h3>
		</header>
		<p class="theater">Your theater is the <a href="https://www.google.com/maps/place/<%=theater.location%>"><%=theater.name%></a>.</p>
		<% rated.forEach((film) => { %>
	    	<%- include('card', {film: film}); %>
	  	<% }); %>

	  	<p class="bottom">If you scrolled this far, go check out the other projects by <a href="https://matthall.ml">Matt Hall</a></p>


	</div>

	<div class="popups disabled" id="ABOUT">
		
		<%-include('about')%>

		<div class="close disabled" id="CLOSE_ABOUT">
		</div>
	</div>


	<script src="/public/js/ui.js"></script>
</body>